body {
    background: white;
    font-family: Roboto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 51px 84px 48px 212px;
    justify-content: center;

}

h1 {
    color: #000;
    font-family: Roboto;
    font-size: 111px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}
h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header{
    color: white;
    text-align: center;
    display: grid;
    grid-template: 30% 25% 20% / 1fr;
    align-content: center;
}

.botao {
    background-color: #3EB25E ;
    border-radius: 35px;
    width: 199px;
    height: 35.554px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    border-inline: none;
    border-block: none;
    
}
.botao:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}

/* footer {
    color: black;
    text-align: center;
    font-style: Roboto;
} */