body {
    background: white;
    font-family: Roboto;
    box-sizing: border-box;
    padding: 0px 5%;
}
.container {
    display: flex;
    gap: 80px;
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: 100vh;
}

.container_image {
    display:flex;
    width: 50%;
    justify-content: flex-start;
}
.image {
    width: 100%;
    max-height: 552px;
    max-width: 551px;

}
.container_form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

label {
    color: #000;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 161.538% */
    padding: 10px;
}

/* altera a cor da bolinha do radio */
input[type="radio"] {
    -webkit-appearance: none;
    background-color: rgba(62, 178, 94, 0.30);
    width: 20px;
    height: 20px;
}

input[type="radio"]:checked {
    background-color: #3EB25E;
}

input[type="radio"]{
  border-radius: 50%;
}

select {
    color: #000;
    text-align: start;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 459px;
    height: 52px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    overflow: hidden;
    padding-left: 40px;
    appearance: none;
    background-image: url('images/seta.svg');
    background-position: left 10px top 50%;
    background-repeat: no-repeat;
}

/* .select {
    position: relative;
    overflow: hidden;
    
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 459px;
    height: 52px;
    margin-top: 10px;
    padding: 10px;
    background-image: url('images/seta.svg');
}
   
.select select {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
}

.select::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
} */

legend {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 46px;
    text-align: start;
}

.container_button {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 27px;
    text-align: center;
}

.button {
    background-color: #3EB25E ;
    border-radius: 35px;
    width: 199px;
    height: 35.554px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    margin-top: 26px;
    border: none;
    
}
.button:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}

.container_buttonlarge {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 14px;
}

.buttonlarge {
    background-color: #3EB25E ;
    border-radius: 35px;
    width: 418px;
    height: 36px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    margin-top: 26px;
    border: none;
    
}

.buttonlarge:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}

/* Responsividade para telas de 1030 */
@media (max-width: 1030px) {
    
    /* h1{
        font-size: 83px;
    } */
}

/* Responsividade para telas de 480 */
@media (max-width: 768px) {
   .container{
    flex-direction: column;
    justify-content: center;
    gap: 25px;
   }

   .container_text{
    justify-content: center;
    gap: 22px;
   }

   .container_image {
    width: 100%;
    justify-content: center;
   }

   .image {
    max-width: 403px;
    max-height: 350px;
   }

   header {
    justify-content: center;
    width: 100%;
   }
   
   h1{
    font-size: 30px;
   }

   h2 {
    font-size: 18px;
   }

   .button {
    margin: 20;
   }

   .container_button {
    gap: 18px;
}
}