body {
    background: white;
    font-family: Roboto;
    display: grid;
    grid-template: 1fr / 55% 45%;
    padding: 51px 84px 48px 100px;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

h1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header{
    color: white;
    text-align: center;
    display: grid;
    grid-template: 30% 60% 10% / 1fr;
    align-content: space-between;
    align-items: bottom;
}

.button {
    background: #3EB25E ;
    border-radius: 35px;
    width: 198px;
    height: 36px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    border-inline: none;
    border-block: none;
    
}
.button:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}

.buttonlarge {
    background: #3EB25E ;
    border-radius: 35px;
    width: 418px;
    height: 36px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    border-inline: none;
    border-block: none;
}

.buttonlarge:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}