body {
    background: white;
    font-family: Roboto;
}

.grid-container {
    display: grid;
    grid-template: 1fr 10%/ 1fr 1fr;
    padding: 51px 84px 48px 150px;
    justify-content: center;
    align-items: center;
}

.image {
    grid-column: 1;
    text-align: center;
}
.texto{
    grid-column: 2;
    text-align: center;
}

.botoes {
    grid-column: 2;
    text-align: center;
}

h1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header{
    color: white;
    text-align: center;
    display: grid;
    grid-template: 30% 60% 10% / 1fr;
    align-content: space-between;
    align-items: bottom;
}

.botao {
    background: #3EB25E ;
    border-radius: 35px;
    width: 199px;
    height: 35.554px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-block: .5m;
    border-inline: none;
    border-block: none;
}

.botao:hover {
    background-color: #ffff7d;
    color:#000;
    transition: background-color .5s;
}

/* Responsividade para telas de 480 */
@media (max-width: 480px) {
    .grid-container {
        justify-content:center;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        margin: auto;
        min-width: auto;
    }

    .image {
        grid-row: auto;
        grid-column: auto;
    }

    .texto{
        grid-row: auto;
        grid-column: auto;
    }

    .botoes {
        grid-row: auto;
        grid-column: auto;
    }
}